/* [next]/internal/font/google/dm_mono_c15a7441.module.css [app-client] (css) */
@font-face {
  font-family: DM Mono;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../media/65aa4c3afddff1fc-s.9bcbba64.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Mono;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../media/6e6f96afb5c93ae9-s.p.d80c9f78.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Mono;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../media/59c49bf5ed7fd405-s.7b48444f.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Mono;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../media/d583356349c674c0-s.p.88be6fc1.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Mono;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../media/f4df6c3e236322ed-s.8d02df94.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Mono;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../media/faa202485ee83c90-s.p.bcd2ed5a.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/b23a20493acc1d48-s.55312788.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/5a26b46fbf4bc258-s.p.81f1ea45.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/1be690c439093f6f-s.c71518f1.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/1013e69b20a6e236-s.p.978a68a6.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/2bcd06f4532162b4-s.590bd757.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/663ec95deaa808c1-s.p.f92f7f71.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Mono Fallback;
  src: local(Arial);
  ascent-override: 73.71%;
  descent-override: 23.03%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.dm_mono_c15a7441-module__9JVYHG__className {
  font-family: DM Mono, DM Mono Fallback;
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_dm_mono_c15a7441_module_css_e59ae46c._.single.css.map*/